* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore


vendor/                 export-ignore
node_modules/           export-ignore
storage/logs/           export-ignore
storage/framework/cache/ export-ignore
bootstrap/cache/        export-ignore
public/storage/         export-ignore
public/uploads/         export-ignore
.env                    export-ignore
.env.*                  export-ignore
.gitignore              export-ignore
